html, body {
    height: 100%;
}

#header {
    width: auto;
    height: 100px;
    background-color: #6495ed;
}

.container {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr;
    flex: 1;
    width: 100%;
}

#content {
    grid-column-start: 2;
}

#welcome {
    font-size: 24px;
    font-weight: bold;
}

#footer {
    width: auto;
    height: 80px;
    background-color: #6495ed;
}

#footer-list {
    list-style: none;
}

a {
    color: black;
}
